@font-face {
  font-family: "Lineyka";
  src: url(./assets/fonts/Lineyka.ttf) format("truetype");
}

@font-face {
  font-family: "Dune";
  src: url(./assets/fonts/Dune_Rise.ttf) format("truetype");
}
